py/pypy_venv
py/venv
QA/venv
docker/pg_data
*.pyc
/venv/
py/myvenv/
eco_data
eco_users_files
py/*.log
QA/py/*.log
QA/py/data/ftp
QA/py/*.json
QA/py/*.txt
QA/py/*.zip
QA/py/*.png
QA/py/*.jpg
QA/py/*.dmp
QA/py/tox.*
QA/py/tests/*.log
QA/py/tests/*.json
QA/py/tests/*.txt
QA/py/tests/*.zip
QA/py/tests/*.png
QA/py/tests/*.jpg
QA/py/test_logs
QA/py/tests/*.log
QA/py/tests/temptask
QA/py/tests/vault
QA/py/htmlcov
QA/py/data/*
docker/py
#py/*.pem
.idea
