# In theory, should do SQLAlchemy[mypy], but the typings there depend on SQLA 2.0 interface
SQLAlchemy==1.4.23
# So stick to older stubs from DropBox
sqlalchemy-stubs==0.4
psycopg2-binary==2.9.1
# LS: Pillow needs manual testing
Pillow==8.1.0
astral==2.2
pytz==2021.1
types-pytz==2021.1.2
# Needed by TF EXACTLY
numpy~=1.19.2
fastapi==0.68.1
fastapi-utils==0.2.1
# Speed up openapi response serialization
orjson==3.6.3
types-orjson==3.6.0
#graphene==2.1.8
uvloop==0.16.0
httptools==0.2.0
# With 0.16.0: Error "INFO:     ASGI 'lifespan' protocol appears unsupported." and the process
# does not exit. Seen with 0.15.0 as well.
uvicorn==0.14.0
gunicorn==20.1.0
httpx==0.18.1
lxml==4.6.3
lxml-stubs==0.2.0
requests==2.26.0
types-requests==2.25.6
python-multipart==0.0.5
# Auth validation
itsdangerous==1.1.0
passlib==1.7.4
# A bit of html
jinja2==3.0.1
aiofiles==0.7.0
# Analyzis of XLSX data sources
openpyxl==3.0.9
openpyxl-stubs==0.1.19
# Image processing libs.
#lycon==0.2.0 # Conflicts with the version required by TF
opencv-python-headless==4.5.3.56
imgaug==0.4.0
# Machine learning. NOT automatically regression-tested so to upgrade with caution.
pandas==1.3.3
scikit-learn==1.0
tensorflow==2.6.0
tensorflow-hub==0.12.0
tensorflow_addons==0.14.0
