#
# Note: Tox does not manage dependencies changes. Remove .tox directory after changes here.
#
-r ../../py/requirements.txt
# Testing & QA additions
pandas
tox==4.16.0
pytest==8.2.2
pytest-mock==3.14.1
pytest-asyncio==0.15.1
coverage==7.6.0
flake8==3.9.2
radon==5.1.0
deepdiff==7.0.1
# For openapi stubs generation
openapi-generator-cli==4.3.1
# For python API client generator
PyYAML==6.0.1
stringcase==1.2.0
# For python API client generated classes
# Fails to build on GH due to obscure compilation issue. Nevermind for the moment.
#backports-datetime-fromisoformat==1.0.0
